[submodule "thirdparty/godot-cpp"]
	path = thirdparty/godot-cpp
	url = git@github.com:GodotNativeTools/godot-cpp.git
[submodule "thirdparty/entt"]
	path = thirdparty/entt
	url = git@github.com:skypjack/entt.git
